@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-dots {
  background: linear-gradient(90deg, #050505 15px, transparent 1%) 50%,
    linear-gradient(#050505 15px, transparent 1%) 50%, hsla(0, 0%, 100%, 0.16);
  background-size: 16px 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
